
#map {
  width: 100%;
  height: 100vh;
}

.stations {
  position: absolute;
  svg {
    position: absolute;
    width: 20px;
    height: 20px;
    font: 10px sans-serif;
  }
  circle {
    fill: brown;
    stroke: black;
    stroke-width: 1.5px;
  }
}

#tool-box {
  transition: all 0.2s;
  position: absolute;
  height: 100vh;
  top: 0;
  right: 0;
  background-color: rgba(150,150,150,0.5);
  padding: 40px 5px 10px 5px;
  .tool-box-widget {
    position: relative;
    width: auto;
    margin: 5px;
    padding: 15px;
    min-height: 100px;
    background-color: rgba(255,255,255,0.8);
    border-radius: 5px;
    .widget-close {
      position: absolute;
      top: 5px;
      right: 5px;
      color: lightgray;
      font-size: 1.5em;
      cursor: pointer;
      &:hover {
        color: black;
      }
    }
    h2 {
      margin: 5px 0;
      text-transform: uppercase;
    }
  }
}

#journal-widget {
  #journal-list {
    width: 100%;
  }
  div {
    padding: 15px 0 0 0;
  }
}

.hidden.menu {
  display: none;
}

.footer.segment {
  padding: 5em 0em;
}

.secondary.pointing.menu .toc.item {
  display: none;
}

@media only screen and (max-width: 700px) {
  .ui.fixed.menu {
    display: none !important;
  }
  .secondary.pointing.menu {
    .item, .menu {
      display: none;
    }
    .toc.item {
      display: block;
    }
  }
}
