
#map {
  width: 100%;
  height: 100vh;
}

.stations {
  position: absolute;
  svg {
    position: absolute;
    width: 20px;
    height: 20px;
    font: 10px sans-serif;
  }
  circle {
    stroke: $rgb-highlight;
    stroke-width: 1.5px;
  }
}

#tool-box {
  transition: all 0.2s;
  position: absolute;
  height: 100vh;
  top: 0;
  right: 0;
  background-color: $widget-bg;
  padding: 40px 5px 10px 5px;
  overflow-y: scroll;
  .tool-box-widget {
    position: relative;
    width: auto;
    margin: 5px;
    padding: 15px;
    min-height: 100px;
    background-color: $widget-tool;
    border-radius: 5px;
    .widget-close {
      position: absolute;
      top: 5px;
      right: 5px;
      color: lightgray;
      font-size: 1.5em;
      cursor: pointer;
      &:hover {
        color: black;
      }
    }
    h2 {
      margin: 5px 0;
      text-transform: uppercase;
    }
  }
}

#journal-widget {
  #journal-list {
    width: 100%;
  }
  div {
    padding: 15px 0 0 0;
  }
}

#filter-list {
  ul#journal-filter {
    padding: 0;
    li.filter-item {
      position: relative;
      list-style-type: none;
      padding: 2px 5px 2px 25px;
      &:hover {
        background-color: $widget-bg;
      }
      .filter-close {
        position: absolute;
        right: 5px;
        top: 0;
        color: red;
        cursor: pointer;
      }
      .filter-legend {
        width: 15px;
        height: 15px;
        position: absolute;
        top: 4px;
        left: 5px;
        border: 1px solid $rgb-highlight;
      }
    }
  }
}

.hidden.menu {
  display: none;
}

.footer.segment {
  padding: 5em 0em;
}

.secondary.pointing.menu .toc.item {
  display: none;
}

@media only screen and (max-width: 700px) {
  .ui.fixed.menu {
    display: none !important;
  }
  .secondary.pointing.menu {
    .item, .menu {
      display: none;
    }
    .toc.item {
      display: block;
    }
  }
}
