
#map {
  width: 100vw;
  height: 100vh;
}

.transition {
  transition: all 0.2s;
}

.shadow {
  box-shadow: 2px 2px 6px 0 rgba(125, 125, 125, 0.5);
}

.hide {
  display: none;
}

.stations {
  position: absolute;
  svg {
    position: absolute;
    width: 20px;
    height: 20px;
    font: 10px sans-serif;
  }
  circle {
    stroke-width: 1.5px;
  }
}

.SvgOverlay {
  position: relative;
  width: 100vw;
  height: 100vh;
  svg {
    position: absolute;
    top: -4000px;
    left: -4000px;
    width: 8000px;
    height: 8000px;
  }

  path {
    stroke: Orange;
    stroke-width: 2px;
    fill: Orange;
    fill-opacity: .3;
  }
}

#tool-box {
  position: absolute;
  height: 100vh;
  top: 0;
  right: 0;
  background-color: $widget-bg;
  padding: 40px 5px 10px 5px;
  overflow-y: scroll;
  .tool-box-widget {
    position: relative;
    width: auto;
    margin: 5px;
    padding: 15px;
    min-height: 100px;
    .widget-close {
      position: absolute;
      top: 5px;
      right: 5px;
      color: lightgray;
      font-size: 1.5em;
      cursor: pointer;
      &:hover {
        color: black;
      }
    }
    h2 {
      font-size: 10px;
      margin: 5px 0;
      text-transform: uppercase;
    }
  }
}

#filter-list {
  ul#journal-filter, ul#author-filter {
    padding: 0;
    font-size: 14px;
    i {
      padding-left: 25px;
      color: lightgray;
    }
    li.filter-item {
      position: relative;
      list-style-type: none;
      padding: 2px 5px 2px 25px;
      &:hover {
        background-color: $widget-bg;
      }
      .filter-close {
        position: absolute;
        right: 5px;
        top: 0;
        color: red;
        cursor: pointer;
      }
      .filter-legend {
        width: 15px;
        height: 15px;
        position: absolute;
        top: 4px;
        left: 5px;
        border: 1px solid $rgb-highlight;
      }
    }
  }
  #filter-date {
    margin: 60px 25px 15px 25px;
  }
}

#doc-list {
  width: 100%;
  height: 500px;
  overflow-y: scroll;
}

.hidden.menu {
  display: none;
}

.footer.segment {
  padding: 5em 0em;
}

.secondary.pointing.menu .toc.item {
  display: none;
}

#toggle-widgets {
  position: absolute;
  top: 20px;
  left: 370px;
  height: 50px;
  width: 20px;
  margin-top: 15px;
  border-radius: 2px;
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(125, 125, 125, 0.5);
  cursor: pointer;
  z-index: 1;
  i {
    position: relative;
    top:15px;
    left: 9px;
    border: solid #999;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
  .right {
      left: 5px;
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
  }
  .left {
      transform: rotate(135deg);
      -webkit-transform: rotate(135deg);
  }
}

#widget-cards {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 10px 10px 10px 10px;
  width: 385px;
  height: 100vh;
  z-index: 100;
  pointer-events: none;

  .card#selected-filters {
    margin: 0;
    max-height: 250px;
    .content.overflow {
      overflow-y: scroll;
    }
  }
  .card {
    margin: 10px 0 0 0;
    width: 100%;
    border-radius: 3px;
    box-shadow: 0 2px 4px 0 rgba(125, 125, 125, 0.5);
    pointer-events: auto;
    background-color: #eee;
    h2 {
      font-size: 15px;
      font-weight: 400;
      color: gray;
    }
    .content {
      z-index: 1;
      box-shadow: 0px 5px 7px -2px rgba(155, 155, 155, 0.3);
      background-color: white;
    }
    .extra.content {
      background-color: #ddd;
      text-align: center;
      box-shadow: none;
      z-index: 0;
      cursor: pointer;
    }
  }
  .card#close-card {
    margin-top: 50px;
    box-shadow: none;
    text-align: center;
    border-top: 1px solid lightgray;
    cursor: pointer;
    .content{
      text-align: center;
      border: none;
      box-shadow: none;
      background-color: #eee;
      color: rgba(0,0,0,0.4);
    }
  }
  .filter-widget {
    margin-top: 25px;
    .list {
      width: 100%;
      border-radius: 5px;
      border: 1px solid #ddd;
    }
  }
}

@media only screen and (max-width: 700px) {
  .ui.fixed.menu {
    display: none !important;
  }
  .secondary.pointing.menu {
    .item, .menu {
      display: none;
    }
    .toc.item {
      display: block;
    }
  }
}
